@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body, html {
  font-family: 'Science Gothic', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%; // Корневой элемент Angular теперь во весь экран
}
